<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=set_to_true_or_false"></script>
<script src="js/final.js"></script>
</head>
<body >
Bienvenue connection dans Shopping mall; merci de vous connecter !
<div id="formulaire">
<form action="user/connectionUser">
Email:<input type="text" name="email"/><br/>
Password:<input type="text" name="password"/><br/>
<input type="submit" value="connectez-vous"/><br/>
</form><br/>
<a href="/nouveauUser">Inscrivez-vous</a>
<a href="/acceuil">page d'acceuil</a>
</div>

<div id="parent">Div parent</div><div>
<ul id="item"></ul>
 <ul id="itemsList"> </ul>
</div>

</body>
</html>